body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: 000;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul,
li {
    display: block;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    background: url(bg1.png) no-repeat center top /cover;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.nav {
    color: white;
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 36px;
    margin-right: 210px;
    font-weight: bold;
}

.number {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.logo {
    padding-bottom: 25px;
}

.phone {
    margin: 0;
    margin-left: 190px;
}

header a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    font-weight: 500
}

.menu li a {
    font-size: 24px;
}

.menu li {
    margin-right: 45px;
}

.description {
    color: white;
    margin-top: 220px;
}

.description h1 {
    font-size: 57px;
    text-transform: none;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background: #C19065;
    width: 320px;
    height: 55px;
    border-radius: 40px;
    position: absolute;
    padding-top: 15px;
    margin: 0;
}

.About {
    background: #C19065;
    height: 100vh;
}

.About img {
    height: 500px;
    width: 500px;
    margin-top: 48px;
}

h2 {
    font-size: 96px;
    font-family: 'Playfair Display', serif;
    padding-top: 131px;
    text-align: center;
    color: white;
    font-weight: normal;
}

.About p {
    color: white;
    font-size: 36px;
    float: right;
    margin-left: 160px;
}

.image {
    align-items: center;
}

.AboutUs {
    display: flex;
    align-items: center;
}

.main_menu {
    display: block;
    background: #5B5B5B;
    height: 130vh;
}

.top {
    position: fixed;
    right: 45px;
    bottom: 45px;
}

#arrow {
    height: 32px;
    width: 32px;
}

.cakes {
    position: absolute;
    width: 800px;
    height: 500px;
    left: 990px;
    top: 2350px;
    display: block;
}

body {
    background: #5B5B5B;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.container_list {
    display: grid;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    list-style-type: none;
    transition: 2s all;
    grid-template-columns: 50% 20rem;
    grid-gap: 10rem;
    cursor: pointer;
}

.container_list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-top: 0.3rem;
    transition: 0.3s all;
    color: rgba(255, 255, 255, 0.8)
}

.container_list li:hover {
    background-color: #a68669;
    transform: scale(1.1);
}

@media (max-width: 800px) {
    .container_list {
        display: flex;
        flex-direction: column;
    }
}

.item {
    width: 150rem;
}

.item span {
    margin-left: 100px;
}

.image_menu img {
    width: 50rem;
    height: 40rem;
    margin-top: -15%;
    margin-left: -130px;
    margin-right: 50px;
}

.container_list li span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-left: 150px;
}

.container_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;
}

.container_buttons button {
    border: none;
    padding: 1rem 0.5rem;
    background: inherit;
    letter-spacing: 2px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: justify;
    color: white;
    cursor: pointer;
}

.container_buttons button:focus {
    outline: none;
}

.container_buttons button:hover {
    color: rgba(165, 53, 53, 0.8)
}

.coffeList {
    display: none;
}

.vypishkaList {
    display: none;
}

.desertyList {
    display: none;
}

.vypishkaList.active {
    display: flex;
}

.coffeList.active {
    display: flex;
}

.desertyList.active {
    display: flex;
}

.slideshow {
    background: #C19065;
    height: 75rem;
}

.slide {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    margin: 100px auto;
}

.image-container {
    width: 100%;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    position: relative;
    display: flex;
    flex-direction: auto;
}

.button-container {
    margin-left: 50rem;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 50px;
    border-radius: 5px;
    border: solid #FFFFFF 3px;
    margin: 5px;
}

.slider-button:hover {
    background: #FFFFFF;
}

#slider-image-1:target~.image-container {
    left: 0px;
}

#slider-image-2:target~.image-container {
    left: -800px;
}

#slider-image-3:target~.image-container {
    left: -1600px;
}

#staff {
    background: #C19065;
    height: 130vh;
}

.staff_images {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

#article {
    margin-right: 150px;
    margin-top: 50px;
    float: left;
}

#our_images {
    margin-left: 250px;
}

#our_images img {
    border-radius: 50%;
}

.staff_names {
    font-style: 36px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

#benefits_h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.benefits {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

#coffee_icons {
    margin-right: 150px;
    margin-top: 50px;
    float: left;
}

#our_icons {
    margin-left: 280px;
}

.coffee_description {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-left: 30px;
}

#coffee_icons img {
    margin-left: 70px;
}

#cof_cake {
    margin-left: 150px;
}

#cof_cake {
    margin-left: 100px;
}

.footer {
    /*background: url(../img/footer.jpg);*/
    background-color: #a68669;
    height: 400px;
}

.cof_house {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    align-items: center;
}

.cof_house img {
    margin-top: -95px;
}

.cof_house p {
    font-style: 36px;
    margin-top: -42px;
    color: white;
    font-weight: bold;
}

.footer_list {
    font-size: 20px;
    color: white;
    display: flex;
    font-weight: bold;
    line-height: 40px;
}

.ul_with_icons a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.ul_foot {
    margin-top: 100px;
    margin-left: 180px;
}

.ul_with_icons {
    margin-top: 100px;
    margin-left: 180px;
    line-height: 60px;
}

.ul_with_icons img {
    margin-right: 10px;
}

#number {
    margin-top: 150px;
}

.insta {
    background-color: #5B5B5B;
    ;
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin-left: 100px;
    border: none;
    position: absolute;
    margin-top: -50px;
}

.insta a {
    text-decoration: none;
    color: white;
}

.ul_foot a {
    text-decoration: none;
    color: white;
}

.circle {
    width: 100%;
    display: none;
    top: 120rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    height: 120%;
    right: 0rem;
    bottom: 0;
}

.circle_cancel {
    position: absolute;
    top: -6rem;
    right: -2rem;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
}

.circle_item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25rem;
}

.circle_item img {
    width: 100%;
    height: 100%;
}

.circle_item .circle_price,
.circle_name {
    color: white;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.circle.active {
    display: flex;
}

.circle_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.item.span.li {
    font-size: 36px;
}

:root {
    --black: #222;
    --white: #fff;
    --default: #0751a5;
    --orange: #ff7417;
    --yellow: #d1b307;
    --grey: #a0a3ad;
    --grey2: #f9fafd;
    --warn: #e71247;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 5rem;
    }
}


/* Navigation */

.navr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    line-height: 1rem;
    background-color: var(--black);
}

.hamburger {
    display: none;
}

.navr__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navr__logo {
    font-size: 2rem;
    color: var(--white);
}

.navr__logo span {
    color: var(--orange);
}

.navr__list {
    display: flex;
    align-items: center;
}

.login {
    display: inline-block;
    font-size: 1.7rem;
    margin-right: 2rem;
    padding: 1.3rem 1.5rem;
    color: var(--black);
    background-color: var(--yellow);
}

.login:focus {
    outline: none;
}

.cart__icon {
    position: relative;
    cursor: pointer;
    margin-left: 80rem;
    margin-top: 5rem;
}

.cart__icon h2 {
    font-weight: 50;
    color: var(--orange);
    font-size: 5rem;
}

.cart__icon span {
    position: absolute;
    top: 3rem;
    right: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warn);
    color: var(--white);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
}


/* Products Center */

.rating span svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--orange);
}

.products {
    padding: 15rem 0;
}

.product__center {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    background: #808080
}

.product__footer {
    padding: 1rem;
    width: 100%;
}

.product__footer h1 {
    font-size: 2rem;
}

.rating {
    margin: 1rem 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    border: 1px solid var(--grey);
    padding: 1rem 1.8rem;
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
}

.price {
    font-weight: 700;
    font-size: 1.8rem;
}


/* Cart */

.cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    z-index: 2;
}

.cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 60%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 2rem;
    z-index: 3;
    overflow-y: scroll;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.cart.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.cart__overlay.show {
    visibility: visible;
}

.close__cart {
    cursor: pointer;
}

.close__cart svg {
    fill: var(--black);
    transition: all 300ms ease-in-out;
}

.close__cart:hover svg {
    fill: var(--warn);
}

.cart svg {
    width: 1.8rem;
    height: 1.8rem;
}

.cart h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.cart__item svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--orange);
}

.cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
}

.cart__item div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__item div span {
    cursor: pointer;
}

.cart__item img {
    width: 9.5rem;
    height: 9.5rem;
}

.cart__item h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.cart__item .price {
    color: var(--orange);
    font-weight: 700;
}

.cart__item p {
    font-weight: 700;
}

.cart__item .remove__item {
    cursor: pointer;
}

.cart__item .remove__item svg {
    fill: var(--warn);
}

@media only screen and (max-width: 1350px) {
    .cart__item {
        width: 100%;
    }
}

@media only screen and (max-width: 996px) {
    .cart__item {
        grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    }
    .cart__item h3 {
        font-size: 1.7rem;
    }
    .cart__item .remove__item svg {
        width: 1.6rem;
        height: 1.6rem;
    }
    .cart__item img {
        width: 7.5rem;
        height: 7.5rem;
    }
}

.cart__footer {
    text-align: center;
    margin-bottom: 3rem;
}

.cart__footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.cart__footer .btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background-color: var(--orange);
    border: none;
    margin-top: 2rem;
}

.cart__footer .btn:focus {
    outline: none;
}

@media only screen and (max-width: 567px) {
    .cart {
        width: 100%;
        height: 100%;
        border-radius: 0rem;
    }
    .cart__item h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .btn {
        padding: 0.8rem 1.5rem;
        font-size: 1.6rem;
    }
}